.navbar-default {
  background-color: #000 !important;
}

.navbar-default a {
  color: #fff !important;
}

.active>a {
  background-color: rgb(45, 43, 42) !important;
  color: #fff !important;
}

.modal-header {
  background-color: rgba(83, 94, 241, 0.87) !important;
}

.modal-title {
  color: white !important;
}
